<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="NoteMapper">
	<insert id="insertNote" parameterType="NoteVo">
		INSERT INTO SENDNOTE VALUES(
    	SEQ_SENDNOTE.NEXTVAL ,#{snSenderFk} ,#{snTitle},#{snContent},SYSDATE,DEFAULT
		)
		<selectKey keyProperty="snKey" resultType="Integer" order="AFTER">
				 SELECT SEQ_SENDNOTE.CURRVAL FROM dual 
		</selectKey>
	</insert>
	
	<insert id="insertReceiveNote" parameterType="NoteVo">
			INSERT INTO RECEIVENOTE VALUES(
			SEQ_RECEIVENOTE.NEXTVAL, #{snKey}, #{receiver},DEFAULT,DEFAULT
			)	
	</insert>
	
	
	

</mapper>